/* se importa las fuentes que hemos elegido */
@import url(./fonts.css);

/* variables CSS con los colores de nuestra paleta */
:root{
    --mainColor: #0D1321;
    --mainColorRGB: rgb(13, 19, 33);
    --secondaryColor: #1D2D44;
    --secondaryColorRGB: rgb(29, 45, 68);
    --tertiaryColor: #3E5C76;
    --tertiaryColorRGB:rgb(62, 92, 118);
    --ligherTertiaryColor: #748CAB;
    --ligherTertiaryColorRGB:rgb(116, 140, 171);
    --grey: #F0EBD8;
    --greyRGB: rgb(240, 235, 216);
    --white: #ffffff;
}

/* Style the video: 100% width and height to cover the entire window */
#videoBG {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    filter: blur(1.5px);
}

body{
    place-items: center;
    max-width: 100vw;
    min-height: 100vh;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#cambio{
    width: 20%;
    background-color: var(--tertiaryColor);
    font-family: 'Mona Sans';
    border: none;
    font-size: 1rem;
    padding: 5px;
    border-radius: 15px;
    color: var(--white);
}

#cambio:hover{
    box-shadow: 0 4px 10px var(--secondaryColor);
    cursor: pointer;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#mainForm{
    padding: 30px;
    padding-bottom: 50px;
    background-color: rgba(13, 19, 33,0.70);
    backdrop-filter: blur(8px);    
    -webkit-backdrop-filter: blur(7.5px);
    color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: 0 4px 30px rgba(240, 235, 216, 0.2);
    margin-top: 30vh;
    height: 30vh;
    width: 30%;
}

#mainForm > h2{
    font-family: 'Quicksand';
    font-size: 2rem;
}

#mainForm > input,#signIn{
    font-family: 'Mona Sans';
    padding: 5px;
    border-radius: 15px;
    color: var(--white);
}

#mainForm > input{
    background-color: var(--secondaryColor);
    border: 1px solid rgba(62, 92, 118,0.3);
    font-size: 1.2rem;
    width: 50%;
}

#mainForm > input:focus{
    box-shadow: 0 4px 10px var(--ligherTertiaryColor);
}

#signIn{
    width: 30%;
    background-color: var(--tertiaryColor);
    font-family: 'Mona Sans';
    border: none;
    font-size: 1rem;
}

#signIn:hover{
    box-shadow: 0 4px 10px var(--ligherTertiaryColor);
    cursor: pointer;
}

@media  (max-width: 1200px) {
    #mainForm > h2{
        font-size: 1.3rem;
    }
    #mainForm > input{
        font-size: 1.1rem;
        width: 60%;
    }
    #signIn{
        font-size: 0.9rem;
        width: 40%;
    }
    #cambio{
        font-size: 0.9rem;
        width: 20%;
    }
}

@media  (max-width: 680px) {
    #mainForm > h2{
        font-size: 1rem;
    }
    #mainForm > input{
        font-size: 0.8rem;
    }
    #signIn,#cambio{
        font-size: 0.5rem;
    }
}